fastapi==0.115.9
uvicorn==0.32.1
gunicorn
openai==0.28.0
requests
chromadb==1.0.3
itsdangerous
python-multipart==0.0.9
jinja2==3.1.2
python-dotenv==1.0.0
structlog==23.2.0
httpx==0.27.0
aiofiles==23.2.1

# Neue Dependencies
psutil
python-magic
Pillow
PyPDF2
python-docs


bcrypt>=4.1.3